/* -------------Font-Family---------- */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ----------Genaral---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

/* -----------Nav-Bar---------- */
.navbar-brand {
    padding: 10px !important;
}

.nav-btn {
    font-size: 14px !important;
    margin-left: 12px !important;
    border: none !important;
    position: relative;
}

.nav-btn::after {
    content: '';
    height: 2px;
    width: 0;
    background: #00c0c0;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;
}

.nav-btn:hover::after {
    width: 100%;
}

.nav-btn:hover {
    color: #00c0c0 !important;

}

/* ----------Body---------- */
body {
    background-color: #eeeeee !important;
}

/* ----------Hero-Section---------- */

.hero .card {
    margin: 10px 0;
    padding: 20px;
    transition: 0.5s;
    border: none;
    border-radius: 20px;
}

/* ----------Photo-Card---------- */

.hero .bg-1 {
    background-image: url(./Media/Profile.png);
    background-size: fill;
    background-position: center;
    height: 600px;
}

.bg-1 .txt-hr {
    color: rgb(184, 184, 184);
    font-size: small;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.bg-1:hover .txt-hr {
    color: white;
    transform: scaleX(20px);
    transition: 0.3s;
    transform: scale(1.02);
}

/* ----------Article-Card---------- */
.hero .bg-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.75)), url(./Media/img2.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 210px;
    cursor: pointer;
}

.article .box-txt {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    width: 51px;
    padding: 0 5px;
    border: #ffffff 2px solid;
    transition: 0.3s;
}

.article .art-head {
    color: white;
    font-size: 26px;
    font-weight: bolder;
}

.article .fa-arrow-up-right-from-square {
    color: #ffffff;
    padding: 0 10px;
}

.bg-2:hover .box-txt {
    background-color: white;
    color: black;
    transition: 0.3s;
}

/* ----------Hello-Card---------- */
.hello {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 28px 20px;
}

.hello h1 {
    font-weight: 800;
}

.hello .intro-txt {
    font-size: 13px;
}

/* ----------Social-Card---------- */
.social {
    padding: 62px;
    display: grid;
    justify-content: center;
    grid-auto-columns: 1fr;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 60px;
}

.social i {
    font-size: 30px;
    color: rgb(84, 84, 84);
}

.social .fa-instagram:hover {
    color: #ff009d;
    transition: 0.3s;
}

.social .fa-linkedin-in:hover {
    color: #1959fc;
    transition: 0.3s;
}

.social .fa-github:hover {
    color: #000000;
    transition: 0.3s;
}

.social .fa-youtube:hover {
    color: #ff0000;
    transition: 0.3s;
}

/* ----------Skill-Card---------- */
.skill {
    padding: 23px;
}

.skill-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.759), rgba(0, 0, 0, 0.75)), url(./Media/img3.jpg);
    background-size: cover;
    background-position: center;
}

.progress {
    margin: 28px 0;
}

.progress .bg-html {
    font-weight: bold;
    background-color: #e34c26;
}

.progress .bg-css {
    font-weight: bold;
    background-color: #264de4;
}

.progress .bg-boot {
    font-weight: bold;
    background-color: #712bdb;
}

.progress .bg-js {
    font-weight: bold;
    background-color: #24c82f;
}

/* ----------About-Me---------- */
.about-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./Media/img4.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px !important;
    padding: 40px;
    cursor: pointer;
    margin: 16px 0;
}

.about-card .abt-head {
    font-size: 26px;
    color: white;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
}

.about-card .abt-txt {
    color: #ffffff;
    font-weight: 300;
    font-size: small;
    text-align: justify;
}
/* ------------Services---------- */
.service-card{
    background-color: #000000 !important;
    padding: 20px;
    margin: 10px 0;
    border: none !important;
    border-radius: 20px !important;
    display: grid;
    place-items: center;
}

.service-card .fa-layer-group{
    font-size: 56px;
    padding: 20px 0;
    color: rgb(255, 255, 255);
}
.service-card .fe-head{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
}
.service-card .fe-txt{
    color: #ffffff;
    padding: 5px 40px;
    font-size: small;
    font-weight: 400;
    text-align: center;
}
/* ----------Project---------- */

